@import '../../styles/variables.scss';
@import '../../styles/typography.scss';
@import '../../styles/mixins.scss';

.container {
  color: $clr-gray-900;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap-32 $gap-16;
  align-items: center;
  justify-content: center;
  padding-block: $gap-32;

  @include for-size(tablet-portrait-up) {
    @include grid-for(tablet-portrait-up);
  }

  @include for-size(tablet-landscape-up) {
    @include grid-for(tablet-landscape-up);
  }

  @include for-size(desktop-up) {
    @include grid-for(desktop-up);
  }
}

.illustration {
  grid-column: 1 / -1;
  width: 100%;
}

.button {
  grid-column: 5 / -5;
}
