@import '../../styles/variables.scss';
@import '../../styles/typography.scss';
@import '../../styles/mixins.scss';

%center-text {
  text-align: center;
  justify-content: center;
}

.container {
  & > * + * {
    margin-top: $gap-16;
  }

  @include for-size(tablet-portrait-up) {
    & > * + * {
      margin-top: $gap-18;
    }
  }

  @include for-size(tablet-landscape-up) {
    & > * + * {
      margin-top: $gap-24;
    }
  }

  @include for-size(desktop-up) {
    & > * + * {
      margin-top: $gap-32;
    }
  }
}

.products {
  @include typography('text', 'sm', 'regular');

  color: $clr-gray-900;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: $gap-16;
  align-items: center;
  justify-content: center;

  @include for-size(tablet-portrait-up) {
    @include grid-for(tablet-portrait-up);
  }

  @include for-size(tablet-landscape-up) {
    @include typography('text', 'md', 'regular');
    @include grid-for(tablet-landscape-up);
  }

  @include for-size(desktop-up) {
    @include grid-for(desktop-up);
  }
}

.productPrice {
  @extend %center-text;
  display: none;

  @include for-size(tablet-portrait-up) {
    display: block;
    grid-column: 3 / 4;
  }

  @include for-size(tablet-landscape-up) {
    grid-column: 4 / 6;
  }

  @include for-size(desktop-up) {
    grid-column: 7 / 9;
  }
}

.productQuantity {
  grid-column: 3 / -1;
  @extend %center-text;

  @include for-size(tablet-portrait-up) {
    grid-column: 4 / -1;
  }

  @include for-size(tablet-landscape-up) {
    grid-column: 6 / 7;
  }

  @include for-size(desktop-up) {
    grid-column: 9 / 11;
  }
}

.productDetail {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  gap: $gap-16;

  @include for-size(tablet-portrait-up) {
    gap: $gap-24;
  }

  @include for-size(tablet-landscape-up) {
    grid-column: 1 / 4;
    gap: $gap-32;
  }

  @include for-size(desktop-up) {
    grid-column: 1 / 7;
    gap: $gap-72;
  }
}

.productImage {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  max-width: 3.75rem;

  @include for-size(tablet-landscape-up) {
    max-width: 6.5rem;
  }
}

.productInfo {
  & > * + * {
    margin-top: $gap-4;
  }

  @include for-size(tablet-landscape-up) {
    & > * + * {
      margin-top: $gap-6;
    }
  }
}

.productCategory {
  color: $clr-gray-500;
  @include typography('text', '2xs', 'regular');

  @include for-size(tablet-landscape-up) {
    @include typography('text', 'sm', 'regular');
  }
}

.productTotal {
  @extend %center-text;
  display: none;

  @include for-size(tablet-landscape-up) {
    display: block;
    grid-column: 7 / -1;
  }

  @include for-size(desktop-up) {
    grid-column: 11 / 13;
  }
}
