/* ==========
BASE STYLES
========== */

body {
  background-color: $clr-accent-1;
  color: $clr-gray-800;
  font-family: $ff-text;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.3px;
}
