/* ==========
BASE STYLES
========== */

body {
  background-color: $clr-gray-25;
  color: $clr-gray-900;
  font-family: $ff-text;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.3px;
}
