/* ==========
VARIABLES
========== */

$ff-display: 'Playfair Display', serif;
$ff-text: 'DM Sans', sans-serif;

$clr-white: #fff;
$clr-black: #000;

$clr-accent-1: #fff6ed;
$clr-accent-2: #f0e7da;
$clr-accent-3: #efe2d9;
$clr-accent-4: #ffead5;
$clr-accent-5: #472723;

$clr-gray-25: #fcfcfd;
$clr-gray-300: #d0d5dd;
$clr-gray-500: #667085;
$clr-gray-700: #344054;
$clr-gray-800: #1d2939;
$clr-gray-900: #101828;

$clr-success-50: #ecfdf3;
$clr-success-100: #d1fadf;
$clr-success-600: #039855;

$clr-error-50: #fef3f2;
$clr-error-100: #fee4e2;
$clr-error-600: #d92d20;

$gap-4: 0.25rem;
$gap-6: 0.375rem;
$gap-8: 0.5rem;
$gap-10: 0.625rem;
$gap-12: 0.75rem;
$gap-14: 0.875rem;
$gap-16: 1rem;
$gap-18: 1.125rem;
$gap-20: 1.25rem;
$gap-24: 1.5rem;
$gap-32: 2rem;
