/* ==========
VARIABLES
========== */

$ff-display: 'Playfair Display', serif;
$ff-text: 'DM Sans', sans-serif;

$clr-white: #fff;
$clr-black: #000;

$clr-accent-1: #fff6ed;
$clr-accent-2: #f0e7da;
$clr-accent-3: #efe2d9;
$clr-accent-4: #ffead5;
$clr-accent-5: #6f4b46;
$clr-accent-6: #472723;

$clr-gray-25: #fcfcfd;
$clr-gray-50: #f9fafb;
$clr-gray-100: #f2f4f7;
$clr-gray-200: #e4e7ec;
$clr-gray-300: #d0d5dd;
$clr-gray-400: #98a2b3;
$clr-gray-500: #667085;
$clr-gray-600: #475467;
$clr-gray-700: #344054;
$clr-gray-800: #1d2939;
$clr-gray-900: #101828;

$clr-success-50: #ecfdf3;
$clr-success-100: #d1fadf;
$clr-success-600: #039855;

$clr-error-50: #fef3f2;
$clr-error-100: #fee4e2;
$clr-error-600: #d92d20;

$gap-4: 0.25rem;
$gap-6: 0.375rem;
$gap-8: 0.5rem;
$gap-10: 0.625rem;
$gap-12: 0.75rem;
$gap-14: 0.875rem;
$gap-16: 1rem;
$gap-18: 1.125rem;
$gap-20: 1.25rem;
$gap-24: 1.5rem;
$gap-28: 1.75rem;
$gap-32: 2rem;
$gap-48: 3rem;
$gap-64: 4rem;
$gap-72: 4.5rem;
$gap-96: 6rem;

$shadow-xs: 0 1px 2px hsla(220, 43%, 11%, 0.05);
$shadow-sm: 0 1px 3px hsla(220, 43%, 11%, 0.1),
  0 1px 2px hsla(220, 43%, 11%, 0.06);
$shadow-md: 0px 4px 8px -2px hsla(220, 43%, 11%, 0.1),
  0px 2px 4px -2px hsla(220, 43%, 11%, 0.06);
$shadow-lg: 0px 12px 16px -4px hsla(220, 43%, 11%, 0.1),
  0px 4px 6px -2px hsla(220, 43%, 11%, 0.05);

$focused-primary: 0 0 0 4px $clr-accent-4;
$focused-gray: 0 0 0 4px $clr-gray-100;

$shadow-xs-focused-primary: $shadow-xs, $focused-primary;
$shadow-xs-focused-gray: $shadow-xs, $focused-gray;
$shadow-sm-focused-primary: $shadow-sm, $focused-primary;
$shadow-sm-focused-gray: $shadow-sm, $focused-gray;

$transition-primary: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
