@import "../../../styles/variables.scss";

.primary circle {
  stroke: $clr-accent-5;
}

.gray circle {
  stroke: $clr-gray-500;
}

.black circle {
  stroke: $clr-black;
}

.white circle {
  stroke: $clr-white;
}

.success circle {
  stroke: $clr-success-600;
}

.error circle {
  stroke: $clr-error-600;
}

// @keyframes loading {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// .icon {
//   animation: loading 1s linear infinite;
// }
