@import '../../styles/variables.scss';

.media {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.sm {
  width: $gap-24;
  height: $gap-24;
}

.md {
  width: $gap-32;
  height: $gap-32;
}

.lg {
  width: $gap-48;
  height: $gap-48;
}

.xl {
  width: $gap-64;
  height: $gap-64;
}
