@import '../../styles/variables.scss';
@import '../../styles/typography.scss';
@import '../../styles/mixins.scss';

// ==========
// Extends
// ==========

%reset-link {
  text-decoration: none;
}

%default {
  display: inline-block;
  cursor: pointer;
  transition: $transition-primary;
  display: flex;
  align-items: center;
  justify-content: center;

  & > * + * {
    margin-left: 0.8rem;
  }

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

%default-button {
  border-radius: 2px;
  box-shadow: $shadow-xs;
}

%default-primary {
  @extend %default-button;
  color: $clr-white;
  background-color: $clr-accent-5;

  &:hover {
    background-color: $clr-accent-6;
  }

  &:focus {
    box-shadow: $shadow-xs-focused-primary;
  }
}

%default-secondary {
  @extend %default-button;
  color: $clr-accent-5;
  background-color: $clr-accent-1;

  &:hover {
    background-color: $clr-accent-2;
  }

  &:focus {
    outline: none;
    box-shadow: $shadow-xs-focused-primary;
  }
}

%default-gray {
  @extend %default-button;
  color: $clr-gray-700;
  background-color: $clr-white;
  border: 1px solid $clr-gray-300;

  &:hover {
    color: $clr-gray-800;
    background-color: $clr-gray-50;
  }

  &:focus {
    outline: none;
    box-shadow: $focused-gray;
  }
}

%default-link {
  @extend %default;
  @extend %reset-link;

  &:hover {
    color: $clr-accent-6;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid $clr-accent-6;
  }
}

%sm {
  @include typography('text', 'sm', 'medium');
  padding: $gap-8 $gap-14;
}

%md {
  @extend %sm;

  @include for-size(tablet-landscape-up) {
    @include typography('text', 'sm', 'medium');
    padding: $gap-10 $gap-16;
  }
}

%lg {
  @include typography('text', 'sm', 'medium');
  padding: $gap-10 $gap-16;

  @include for-size(tablet-landscape-up) {
    @include typography('text', 'md', 'medium');
    padding: $gap-10 $gap-18;
  }
}

%xl {
  @include typography('text', 'md', 'medium');
  padding: $gap-10 $gap-18;

  @include for-size(tablet-landscape-up) {
    @include typography('text', 'md', 'medium');
    padding: $gap-12 $gap-20;
  }
}

%xxl {
  @include typography('text', 'md', 'medium');
  padding: $gap-12 $gap-20;

  @include for-size(tablet-landscape-up) {
    @include typography('text', 'lg', 'medium');
    padding: $gap-16 $gap-28;
  }
}

// ==========
// Sizes
// ==========

.sm {
  @extend %sm;
}

.md {
  @extend %md;
}

.lg {
  @extend %lg;
}

.xl {
  @extend %xl;
}

.xxl {
  @extend %xxl;
}

// ==========
// Component
// ==========

.buttonPrimary {
  @extend %default;
  @extend %default-primary;
  border: none;
}

.buttonSecondaryColor {
  @extend %default;
  @extend %default-secondary;
  border: none;
}

.buttonSecondaryGray {
  @extend %default;
  @extend %default-gray;
}

.linkPrimary {
  @extend %default;
  @extend %reset-link;
  @extend %default-primary;
}

.linkSecondaryColor {
  @extend %default;
  @extend %reset-link;
  @extend %default-secondary;
}

.linkSecondaryGray {
  @extend %default;
  @extend %reset-link;
  @extend %default-gray;
}

.linkColor {
  @extend %default-link;
  color: $clr-accent-5;
}

.linkGray {
  @extend %default-link;
  color: $clr-gray-300;
}

.linkBlack {
  @extend %default-link;
  color: $clr-black;
}

.linkWhite {
  @extend %default-link;
  color: $clr-white;
}
