@import '../../styles/variables.scss';
@import '../../styles/typography.scss';

.container {
  display: flex;
  gap: $gap-8;
}

.text {
  @include typography('text', 'sm', 'medium');
  cursor: pointer;
}
