@import '../../styles/variables.scss';
@import '../../styles/typography.scss';

.container {
  grid-column: 1 / 3;
  @include typography('text', 'md', 'medium');
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $gap-8 $gap-16;
  border: 1px solid $clr-gray-300;

  & svg {
    cursor: pointer;
  }

  & input {
    @include typography('text', 'md', 'medium');
    width: 100%;
    border: none;
    outline: none;
    background: none;
    text-align: center;
  }
}
